body {
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
  color: #282828;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #282828;
  color: whitesmoke;
}

/* Typography */

main {
  text-align: center;
}

ul {
  display: inline-flex;
  list-style: none;
  padding: 25px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  margin-right: 10px;
}

.icon {
  width: 25px;
}

h1 {
  text-align: left;
  font-size: 40px;
  font-weight: 400;
  margin: 30px 25px;
}

.caption {
  text-align: left;
  margin: 0 25px;
}

/* Images */

img {
  width: 100%;
}
